// ==========================
// animation effects
// ==========================

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    80%{
        transform: translateX(10px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInright{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    80%{
        transform: translateX(-10px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInbottom{
    0%{
        opacity: 0;
        transform: translateY(60px);
    }

    80%{
        transform: translateY(-5px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}