@media only screen and (max-width:1200px){
    html{ font-size: 56.25%; }

}

@media only screen and (max-width:900px){
    html{ font-size: 50%; }
    body{ padding: 0; }
    .heading-secondery{ font-size: 3rem; }

    .row{
        max-width: 50rem;
        // padding: 0 3rem;
        
        &:not(:last-child){
            margin-bottom: $gutter-vertical;
            margin-bottom: $gutter-vertical-small;
        }
        [class^="col-"]{
            float: left;           
            &:not(:last-child){
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
            width: 100%;
        }   
    }
}

@media only screen and (max-width:600px){
    html{ font-size: 43.75%; }  //1rem = 7px 7px / 16px 

    .heading-primary--main{ letter-spacing: 1rem; }
    .heading-primary--main{ letter-spacing: .5rem; }
    .heading-secondery{ font-size: 2.5rem; }
}